@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

h2 {
  text-align: center;
}

.btn {
  display: block;
  margin: 20px auto 0 auto;
}

.form-group {
  padding-top: 15px;
}

html body {
  background: rgb(240, 240, 240);
}

.fondo {
  background-color: black;
}
.nav-link {
  color: white;
  font-weight: normal;
}

.nav-link:hover {
  color: #f7c600;
  cursor: pointer;
  font-weight: bold;
}
i {
  padding-right: 8px;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0 20px;
}

.container {
  margin-top: 50px;
}
.image-column img {
  max-width: 100%; /* Asegura que la imagen se ajuste a la columna */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
}
.form-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 100%;
  max-width: 500px; /* Ajusta el ancho del formulario */
}

/* /*Paleta de Colores/*
background: #06F6D2;
header:#82C3F5 ;
nav:#00070D ;
p:#F4F6F7 ;
*/
:root {
  --background: #06f6d2;
  --header: #82c3f5;
  --nav: #00070d;
  --p: #f4f6f7;
}

body {
  background-color: transparent;
}

header {
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
}
header img {
  width: 100px;
}

nav {
  background-color: var(--nav);
}

.carousel-inner {
  background-color: var(--header);
}

.carousel-caption {
  color: var(--p);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--nav);
}
.navbar-brand {
  background-color: red;
  width: 200px;
  background: transparent;
}

.banner {
  height: 400px;
}

.resumen {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}




footer {
  padding-top: 20px;
  width: 100%;
}
